.projects-section {
    text-align: center;
    padding: 100px 0;
    color: white;
    background: linear-gradient(135deg, #1e1e1e, #3a3a3a);
}

.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.project {
    width: 300px;
    padding:0px 20px;
    color: azure;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transition: transform 2s ease-in-out;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}

.project h3 {
    font-size: 22px;
    font-weight: 800;
    font-family: cursive;
    margin-bottom: 15px;
}

.project p {
    font-size: 16px;
    opacity: 0.8;
}

/* Unique Colors for Projects */
.project:nth-child(1) {
    border-left: 5px solid #ff5733;
}
.project:nth-child(2) {
    border-left: 5px solid #33ff57;
}
.project:nth-child(3) {
    border-left: 5px solid #3357ff;
}
.project:nth-child(4) {
    border-left: 5px solid #ff33a6;
}
.project:nth-child(5) {
    border-left: 5px solid #ffcc33;
}
#contact {

    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.contact-container {
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    width: 50%;
    position: relative;
    z-index: 2;
    transition: transform 2s ease-in-out;

}
.contact-container:hover {
    transform: scale(1.05);
}
.contact-container h2 {
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.boxskills img{
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 20px;
}
.contact-container p {
    font-size: 20px;
    margin: 15px 0;
    font-weight: 500;
}
.contact-container a {
    color: #ffebcd;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    transition: color 0.3s ease-in-out;
}
.contact-container a:hover {
    color: #ffd700;
    text-decoration: underline;
}

@keyframes float {
    0% { transform: translateY(0px) translateX(0px); }
    50% { transform: translateY(-20px) translateX(20px); }
    100% { transform: translateY(40px) translateX(-20px); }
}
